.accordionContainer {
  width: 90%;
  max-width: 1000px;
  margin: 10px auto;
  background-color: #f2f2f2;
  border-radius: 4px;
  overflow: hidden;
}

.accordionHeader {
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
}



.accordionTitle {
  font-size: 18px;
  color: #333;
  font-weight: 400;
}

.accordionContent {
  padding: 20px 25px;
  background-color: #f2f2f2; 
  border-top: 2px solid #ddd;
  color: #555;
  line-height: 1.6;
}