.cardContainer {
  border: 0px ;
  margin-bottom: 30px;
  background: white;
 
}

.mainSection {
  display: flex;
  padding: 25px;
  gap: 30px;
}

.imageWrapper {
  width: 320px;
  flex-shrink: 0;
}

.roomImagee {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-left: -100px;
}

.contentWrapper {
  flex-grow: 1;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left:-80px;
  margin-bottom: 10px;
}

.roomName {
  font-size: 24px;
  margin: 0;
  color: #333;
}

.totalPrice {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-right: -100px;
  margin-bottom: -40px;
}

.specs {
  display: flex;
  gap: 15px;
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
  margin-left: -80px;
}

.lastRoom {
  color: #d9534f;
  display: flex;
  align-items: center;
  gap: 4px;
}

.description {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 15px;
  margin-left: -80px;
  align-items: flex-start;
}
.detailsContainer {
  margin-top: 15px;
}

.detailsButton {
  background: #f1f1f1;
  border: none;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  color: #444;
  border-radius: 2px;
  margin-left: -80px;
}

.equipmentWrapper {
  margin-top: 20px;
  animation: fadeIn 0.3s ease-out;
}

.equipmentTitle {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: #333;
}

.equipmentGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 5px 20px;
  justify-content: space-between; 
}

.equipmentItem {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 0.9rem;
  color: #555;
  line-height: 1.4;
}
.fullWidthEquipment {
  grid-column: 20 / 100; 
  margin-top: -35px;
  padding-top: 20px;
}
.equipmentTitle{
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

.checkIcon {
  color: #333;
  font-weight: bold;
  font-size: 1rem;
}

/* RRESHTI "RATES" I BARDHE */
.ratesHeader {
  display: flex;
  justify-content: space-between;
  padding: 12px 25px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-weight: 500;
  font-size: 14px;
  background-color: #fcfcfc;
  margin-left: -80px;
  margin-right: -80px;
}

.ratesHeaderPrice {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* PJESA E HIRTE */
.ratesSection {
  background-color: white;
  padding: 20px 15px;
  margin-left: -80px;
  justify-content: space-between;
  margin-right: -80px;
}

.rateRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boardType {
  font-weight: bold;
  font-size: 14px;
}

.occupancySmall {
  font-size: 12px;
  color: #777;
}

.rateMiddle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.refundable {
  color: #4caf50;
  font-size: 13px;
}

.learnMore {
  background: none;
  border: none;
  color: #333;
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;
  padding: 0;
}

.rateRight {
  display: flex;
  align-items: center;
  gap: 30px;
}

.bottomPrice {
  font-size: 20px;
  font-weight: 600;
}

.selectBtn {
  background-color: #a39382;
  color: white;
  border: none;
  padding: 12px 35px;
  cursor: pointer;
  font-weight: bold;
}

.modalOverlay {
  position: fixed; /* fixed për të qëndruar mbi të gjithë faqen */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5); /* sfond gjysmë-transparent */
  display: flex;
  justify-content: center; 
  align-items:center;     
  z-index: 1000;
}

/* Dritarja e vogël qendrore */
.modalContent {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: fit-content;
  height: 200px;
  width: 40%;
  gap:5px;
  text-align: left;
  font-size: 13px;
  position: relative;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}


.closeBtn {
  position: absolute;
  top: 10px;
  left: 15px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.wrapper {
  margin-bottom: 30px;
  width: 100%;
}
