.experienceContainer {

  background-color: #73828e; 
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.experienceWrapper {
  max-width: 950px;
}

.experienceTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 35px;
  letter-spacing: -0.5px;
}

.experienceDescription {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 300; 
  max-width: 800px;
  margin: 0 auto;
}


.textLink {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 2px;
  transition: border-bottom-color 0.3s ease;
}

.textLink:hover {
  border-bottom-color: #ffffff;
}

.experienceDescription strong {
  font-weight: 600;
}

@media (max-width: 768px) {
  .experienceTitle {
    font-size: 28px;
  }
  .experienceDescription {
    font-size: 16px;
  }
}
.whiteSectionContent {
  max-width: 900px;         
  margin: 0 auto;          
  padding: 100px 100px;      
  text-align: center;       
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
}

.whiteTitle {
  font-family: serif;      
  font-size: 2.8rem;        
  font-weight: 400;         
  color: #333;             
  line-height: 1.2;
  margin-bottom: 20px;      
  max-width: 700px;         
}

.whiteText {
  font-family: sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;     
  color: #555;
  max-width: 800px;
}

.whiteText strong {
  font-weight: 600;
  color: #222;
}

.link {
  color: #333;
  text-decoration: underline;
  text-underline-offset: 4px; 
  transition: opacity 0.3s ease;
}

.link:hover {
  opacity: 0.7;
}

/* Për celularë */
@media (max-width: 768px) {
  .whiteTitle {
    font-size: 2rem;
  }
  .whiteSectionContent {
    padding: 60px 20px;
  }
}
.topThreeContainer {
  background-color: #ffffff;
  padding: 80px 20px 120px 20px;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  color: #4a4a4a;
}

.topThreeWrapper {
  max-width: 800px;
  text-align: center;
}

.topThreeTitle {
  font-size: 36px;
  font-weight: 400;
  color: #333;
  margin-bottom: 50px;
  line-height: 1.2;
}

.topThreeSubtitle {
  font-size: 24px;
  color: #4a4a4a;
}

.topThreeList {
  text-align: left;
  list-style-type: none; 
  padding: 0;
  display: inline-block;
}

.topThreeList li {
  font-size: 15px;
  line-height: 1.2;
  margin-bottom: 20px;
  position: relative;
  padding-left: 25px;
  font-weight: 300;
}

/* Krijimi i pikave (bullets) të zeza si në foto */
.topThreeList li::before {
  content: "•";
  color: #333;
  font-weight: bold;
  display: inline-block;
  width: 6em;
  margin-left: -1em;
  position: absolute;
  left: 5px;
  top: 0;
}

.topThreeList strong {
  font-weight: 600;
  color: #333;
}

@media (max-width: 768px) {
  .topThreeTitle {
    font-size: 28px;
  }
  .topThreeSubtitle {
    font-size: 20px;
  }
  .topThreeList li {
    font-size: 16px;
  }
}