.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  text-align: center;
  background-color: #fff;
  min-height: 400px;
}

.iconWrapper {
  width: 90px;
  height: 90px;
  border: 4px solid #a3cc85; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.checkIcon {
  color: #a3cc85;
}

.title {
  font-size: 32px;
  font-weight: 400;
  color: #333;
  margin-bottom: 15px;
  font-family: serif; 
}

.confirmationText {
  font-size: 16px;
  line-height: 1.6;
  color: #444;
  margin-bottom: 50px;
}

.insuranceSection {
  max-width: 650px;
  border-top: 1px solid #eee;
  padding-top: 40px;
}

.insuranceTitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #333;
}

.insuranceDescription {
  font-size: 14px;
  color: #666;
  line-height: 1.8;
  margin-bottom: 30px;
}

.purchaseBtn {
  background-color: #b1a799;
  color: white;
  border: none;
  padding: 15px 35px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background 0.3s;
}

.purchaseBtn:hover {
  background-color: #9c9284;
}