.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}
.fullWidthSection {
  width: 100%;
 
}
.section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 2.25rem;
  font-weight: 400;
  color: #333;
  align-items: flex-start;
  margin-bottom: 24px;
  letter-spacing: -0.02em;
}

.description {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #666;
  max-width: 500px;
  margin-bottom: 32px;
  align-items: flex-start;
}

.linkk {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  color: #444;
  font-weight: 500;
  transition: color 0.2s ease;
  text-decoration: none;
}

.linkk:hover {
  color: #000;
  text-decoration: none;
}

.imageWrapper {
  flex: 1;
  width: 100%;
  position: relative;
  aspect-ratio: 4 / 3;
}

.image {
  object-fit: cover;
}

/* Responsive Tablet/Desktop */
@media (min-width: 768px) {
  .section {
    flex-direction: row;
    gap: 80px;
    padding: 120px 24px;
  }
}
.whiteSectionContent {
  max-width: 900px;         
  margin: 0 auto;          
  padding: 100px 100px;      
  text-align: center;       
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
}

.whiteTitle {
  font-family: serif;      
  font-size: 2.8rem;        
  font-weight: 400;         
  color: #333;             
  line-height: 1.2;
  margin-bottom: 20px;      
  max-width: 700px;         
}

.whiteText {
  font-family: sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;     
  color: #555;
  max-width: 800px;
}

.whiteText strong {
  font-weight: 600;
  color: #222;
}

.link {
  color: black;
  text-decoration: underline;
  text-underline-offset: 4px; 
  transition: opacity 0.3s ease;
}

.link:hover {
  opacity: 0.7;
}

/* Për celularë */
@media (max-width: 768px) {
  .whiteTitle {
    font-size: 2rem;
  }
  .whiteSectionContent {
    padding: 60px 20px;
  }
}
.containerr {
  background-color: #f2f2f2; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;    
  text-align: center;
  margin-top: 130px;
  padding: 100px 0px; 
  width: 100%
}

.content {
  width: 100%;
  max-width: 850px; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.title {
  font-size: 2.3rem;
  color: #333;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.text {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #555;
}
.greyBg {
  background-color: #f2f2f2;
}

.whiteBg {
  background-color: white;
}
.buttonreadmore {
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0; 
  color: #333;
  padding: 12px 30px;    
  text-decoration: none;
  font-size: 1rem;
  margin-top: 30px;      
  transition: background-color 0.2s;
  width: fit-content;   
  border: none;
}

.button:hover {
  background-color: #d0d0d0;
}
