[build]
  base = "my-hotel"
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20.9.0"
  SECRETS_SCAN_OMIT_KEYS = "DB_PORT,NEXT_PUBLIC_PHONE,NEXT_PUBLIC_SITE_NAME,NEXT_PUBLIC_BASE_URL,NEXT_PUBLIC_SITE_URL"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[redirects]]
  from = "/"
  to = "/en"
  status = 301
  force = false

[[redirects]]
  from = "/*"
  to = "/:splat"
  status = 200
